!.gitignore
!*/.gitignore
go.sum
go.mod
cosigt
cosigt_smk/resources/*
cosigt_smk/logs/*
cosigt_smk/.snakemake/*
cosigt_smk/workflow/scripts/__pycache__
cosigt_smk/snakemake.run.sh
cosigt_smk/config/*
cosigt_smk/benchmarks/*
cosigt_smk/.*
