!.gitignore
!*/.gitignore
go.sum
go.mod
cosigt
cosigt_smk/results/*
cosigt_smk/resources/*
cosigt_smk/resources/extra/*
cosigt_smk/logs/*
cosigt_smk/.snakemake/*
cosigt_smk/singularity_bind_paths.csv
cosigt_smk/config/config.yaml
cosigt_smk/config/samples.tsv
cosigt_smk/*.pdf
